#songs {
  
  color: #EE82EE;
  font-family: 'Inconsolata', ;
  background: $color-seashell1;
}

#dead-leaves {
  
  color: #EE82EE;
  text-shadow: 2px 2px 3px black;
  font-family: 'Inconsolata', ;
  background: $color-seashell1;
}


#lessthanaway {
  
  color: #EE82EE;
  text-shadow: 2px 2px 3px black;
  font-family: 'Inconsolata', ; 
  background: $color-seashell1;
}




