#songs {
  
  color: #EE82EE;
  font-family: sans-serif;
  background: #FFE4C4;
  text-shadow: 2px 2px 3px black;
  text-decoration: underline;
  text-decoration-color: black; 
}

#dead-leaves {
  
  color: #EE82EE;
  text-shadow: 2px 2px 3px black;
  font-family: sans-serif ;
  background: #FFE4C4;
}


#lessthanaway {
  
  color: #EE82EE;
  text-shadow: 2px 2px 3px black;
  font-family: sans-serif; 
  background: #FFE4C4;
}




