#songs {
  
  color: #0000FF;
  font-family: 'Inconsolata', ;
}

#dead-leaves {
  
  color: #228B22;
  text-shadow: 2px 2px 3px black;
}


#lessthanaway {
  
  color: #FFA500;
  text-shadow: 2px 2px 3px purple;
}




