
#header {
	color: #663399;
	font-family: sans-serif;
	text-shadow: 4px 4px 5px #D3D3D3;
	text-align: center;
}

#booklinks {
	color: plum;
	text-align: center;
	font-family: sans-serif;

}

#tool {
	color: plum;
	font-family: sans-serif;
}

#orange {
	color: #FFA500;
	font-family: sans-serif;
}

.center {
        display: block;	
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	height: 20%;
}

#cp {
	font-family: sans-serif;
	color: #BC8F8F;
	text-shadow: 4px 4px 5px #D3D3D3;
}

#home {
	color: red;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#DCDCDC
}
